HAMOYE QUIZ AUGUST 2021

In [1]:
import numpy as np

In [2]:
import pandas as pd

In [19]:
A = [1,2,3,4,5,6] 
B = [13, 21, 34]

Find A_B by using the extend method

In [20]:
A_B = A + B
A_B

[1, 2, 3, 4, 5, 6, 13, 21, 34]

CREATING AN IDENTITY MATRIX

In [21]:
np.identity(3)

array([[1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.]])

LOAD FUEL DATASET USING THE PD.READ

In [22]:
Fuel_data = pd.read_csv('https://raw.githubusercontent.com/WalePhenomenon/climate_change/master/fuel_ferc1.csv')
Fuel_data

,record_id,utility_id_ferc1,report_year,plant_name_ferc1,fuel_type_code_pudl,fuel_unit,fuel_qty_burned,fuel_mmbtu_per_unit,fuel_cost_per_unit_burned,fuel_cost_per_unit_delivered,fuel_cost_per_mmbtu
0,f1_fuel_1994_12_1_0_7,1,1994,rockport,coal,ton,5377489.0,16.590,18.59,18.53,1.121
1,f1_fuel_1994_12_1_0_10,1,1994,rockport total plant,coal,ton,10486945.0,16.592,18.58,18.53,1.120
2,f1_fuel_1994_12_2_0_1,2,1994,gorgas,coal,ton,2978683.0,24.130,39.72,38.12,1.650
3,f1_fuel_1994_12_2_0_7,2,1994,barry,coal,ton,3739484.0,23.950,47.21,45.99,1.970
4,f1_fuel_1994_12_2_0_10,2,1994,chickasaw,gas,mcf,40533.0,1.000,2.77,2.77,2.570
...,...,...,...,...,...,...,...,...,...,...,...
29518,f1_fuel_2018_12_12_0_13,12,2018,neil simpson ct #1,gas,mcf,18799.0,1.059,4.78,4.78,9.030
29519,f1_fuel_2018_12_12_1_1,12,2018,cheyenne prairie 58%,gas,mcf,806730.0,1.050,3.65,3.65,6.950
29520,f1_fuel_2018_12_12_1_10,12,2018,lange ct facility,gas,mcf,104554.0,1.060,4.77,4.77,8.990
29521,f1_fuel_2018_12_12_1_13,12,2018,wygen 3 bhp 52%,coal,ton,315945.0,16.108,3.06,14.76,1.110
29522,f1_fuel_2018_12_12_1_14,12,2018,wygen 3 bhp 52%,gas,mcf,17853.0,1.059,0.00,0.00,11.680

In [23]:
Fuel_data.describe()

,utility_id_ferc1,report_year,fuel_qty_burned,fuel_mmbtu_per_unit,fuel_cost_per_unit_burned,fuel_cost_per_unit_delivered,fuel_cost_per_mmbtu
count,29523.000000,29523.000000,2.952300e+04,29523.000000,29523.000000,2.952300e+04,29523.000000
mean,118.601836,2005.806050,2.622119e+06,8.492111,208.649031,9.175704e+02,19.304354
std,74.178353,7.025483,9.118004e+06,10.600220,2854.490090,6.877593e+04,2091.540939
min,1.000000,1994.000000,1.000000e+00,0.000001,-276.080000,-8.749370e+02,-41.501000
25%,55.000000,2000.000000,1.381700e+04,1.024000,5.207000,3.778500e+00,1.940000
50%,122.000000,2006.000000,2.533220e+05,5.762694,26.000000,1.737100e+01,4.127000
75%,176.000000,2012.000000,1.424034e+06,17.006000,47.113000,4.213700e+01,7.745000
max,514.000000,2018.000000,5.558942e+08,341.260000,139358.000000,7.964521e+06,359278.000000

In [24]:
Fuel_data.groupby('fuel_cost_per_unit_burned')['fuel_cost_per_unit_burned'].count()

fuel_cost_per_unit_burned
-276.080       1
-174.670       1
-123.310       1
-119.040       1
-85.760        1
              ..
 65137.588     1
 69785.215     1
 80459.000     1
 83538.000     1
 139358.000    1
Name: fuel_cost_per_unit_burned, Length: 19416, dtype: int64

In [25]:
Fuel_data.groupby('fuel_type_code_pudl')['fuel_type_code_pudl'].count()

fuel_type_code_pudl
coal        8547
gas        11486
nuclear      818
oil         8064
other        167
waste        441
Name: fuel_type_code_pudl, dtype: int64

In [26]:
Fuel_data.groupby('fuel_qty_burned')['fuel_qty_burned'].count()

fuel_qty_burned
1.0            18
2.0            15
3.0            17
4.0            13
5.0             4
               ..
147837343.0     1
166385450.0     1
198577395.0     1
417297683.0     1
555894250.0     1
Name: fuel_qty_burned, Length: 26432, dtype: int64

CHECKING FOR NULL OR MISSING VALUES IN DATA ROWS
#we will be using the isnull() method to check missing values in data features.

In [33]:
Fuel_data.isnull().any

<bound method DataFrame.any of        record_id  utility_id_ferc1  report_year  plant_name_ferc1  \
0          False             False        False             False
1          False             False        False             False
2          False             False        False             False
3          False             False        False             False
4          False             False        False             False
...          ...               ...          ...               ...
29518      False             False        False             False
29519      False             False        False             False
29520      False             False        False             False
29521      False             False        False             False
29522      False             False        False             False

       fuel_type_code_pudl  fuel_unit  fuel_qty_burned  fuel_mmbtu_per_unit  \
0                    False      False            False                False
1                    False      False            False                False
2                    False      False            False                False
3                    False      False            False                False
4                    False      False            False                False
...                    ...        ...              ...                  ...
29518                False      False            False                False
29519                False      False            False                False
29520                False      False            False                False
29521                False      False            False                False
29522                False      False            False                False

       fuel_cost_per_unit_burned  fuel_cost_per_unit_delivered  \
0                          False                         False
1                          False                         False
2                          False                         False
3                          False                         False
4                          False                         False
...                          ...                           ...
29518                      False                         False
29519                      False                         False
29520                      False                         False
29521                      False                         False
29522                      False                         False

       fuel_cost_per_mmbtu
0                    False
1                    False
2                    False
3                    False
4                    False
...                    ...
29518                False
29519                False
29520                False
29521                False
29522                False

[29523 rows x 11 columns]>

THE FUEL_UNIT FEATURE HAS 180 MISSING/ ERROR VALUES
#WE ARE GOING TO IDENTIFY AND FILL THEM WITH VALUES THAT OCCURED THE MOST

In [34]:
Fuel_data.isnull().sum()

record_id                         0
utility_id_ferc1                  0
report_year                       0
plant_name_ferc1                  0
fuel_type_code_pudl               0
fuel_unit                       180
fuel_qty_burned                   0
fuel_mmbtu_per_unit               0
fuel_cost_per_unit_burned         0
fuel_cost_per_unit_delivered      0
fuel_cost_per_mmbtu               0
dtype: int64

In [42]:
Fuel_data[['fuel_unit']]= Fuel_data[['fuel_unit']].fillna('mcf')

In [43]:
Fuel_data.isnull().sum()

record_id                       0
utility_id_ferc1                0
report_year                     0
plant_name_ferc1                0
fuel_type_code_pudl             0
fuel_unit                       0
fuel_qty_burned                 0
fuel_mmbtu_per_unit             0
fuel_cost_per_unit_burned       0
fuel_cost_per_unit_delivered    0
fuel_cost_per_mmbtu             0
dtype: int64

CHECKING THE SKEWNESS AND KURTOSIS OF THE FUEL DATA

In [31]:
kurt = Fuel_data.kurt()
print(kurt)

utility_id_ferc1                    1.088432
report_year                        -1.145656
fuel_qty_burned                   651.369450
fuel_mmbtu_per_unit                55.595695
fuel_cost_per_unit_burned         485.255851
fuel_cost_per_unit_delivered    11765.054226
fuel_cost_per_mmbtu             29489.132594
dtype: float64

In [32]:
skew = Fuel_data.skew()
print(skew)

utility_id_ferc1                  0.605070
report_year                       0.006953
fuel_qty_burned                  15.851495
fuel_mmbtu_per_unit               4.135217
fuel_cost_per_unit_burned        19.787440
fuel_cost_per_unit_delivered    105.014227
fuel_cost_per_mmbtu             171.675535
dtype: float64

CALCULATING THE YEAR WITH highest average fuel cost per unit delivered?

In [53]:
Fuel_data.groupby('report_year')['report_year'].count()

report_year
1994    1235
1995    1201
1996    1088
1997    1094
1998    1107
1999    1050
2000    1373
2001    1356
2002    1205
2003    1211
2004    1192
2005    1269
2006    1243
2007    1264
2008    1228
2009    1222
2010    1261
2011    1240
2012    1243
2013    1199
2014    1171
2015    1093
2016    1034
2017     993
2018     951
Name: report_year, dtype: int64

In [61]:
Fuel_data.groupby('report_year')['fuel_cost_per_unit_delivered'].max()

report_year
1994      45115.000
1995       2396.770
1996    7793482.000
1997    7964521.000
1998     270604.000
1999       2891.100
2000    1168000.000
2001      34381.000
2002      31416.000
2003      34518.000
2004     132884.000
2005       8651.000
2006       1431.000
2007       4850.872
2008      10490.000
2009     730166.000
2010      44033.320
2011       9545.000
2012      10129.000
2013     135315.000
2014     136410.000
2015     140706.000
2016      69440.000
2017       3584.335
2018     245652.000
Name: fuel_cost_per_unit_delivered, dtype: float64

In [62]:
Fuel_data.groupby('report_year')['fuel_cost_per_unit_delivered'].min()

report_year
1994    -58.800
1995    -85.640
1996    -44.050
1997    -38.972
1998    -43.747
1999    -32.970
2000   -174.670
2001    -37.790
2002    -60.290
2003   -118.340
2004   -313.410
2005    -31.501
2006    -24.295
2007   -488.054
2008   -874.937
2009      0.000
2010     -7.295
2011    -43.419
2012    -91.900
2013    -93.470
2014      0.000
2015   -170.187
2016    -40.725
2017      0.000
2018      0.000
Name: fuel_cost_per_unit_delivered, dtype: float64